<ion-header>
  <ion-toolbar>
    <ion-row style="display: flex;align-items:center;">
      <img src="assets/raspberry.png" style="height: 7%;width: 7%;display: inline;" class="logo_icon" />
      <ion-title>
        Pimp My Card
      </ion-title>
    </ion-row>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-row *ngIf="alarm.isAlertActivated" style="text-align: center;">
    <ion-col col-12 col-lg-5 style="border: 2px solid red;text-align:center;">
      <div style="position: absolute; top: 5px; right:5px;">
        <ion-icon style="color:red;" name="close" (click)="closeAlert()"></ion-icon>
      </div>
      <div style="color:red;">
        Alerte déclenchée
      </div>
    </ion-col>
  </ion-row>
  <ion-row class='display_cards'>
    <ion-col>
      <ion-card>
        <ion-card-content (click)="openTemperaturePage();">
          <img src="assets/104-512.png" />
          <div style="text-align:center;">{{temp}}°C</div>
        </ion-card-content>
      </ion-card>
    </ion-col>
    <ion-col>
      <ion-card>
        <ion-card-content (click)="openHumidityPage();">
          <img src="assets/humidity-512.png" />
          <div style="text-align:center;">{{humi}}%</div>
        </ion-card-content>
      </ion-card>
    </ion-col>
    <ion-col>
      <ion-card>
        <ion-card-content>
          <img src="assets/speed-512.png" />
          <div style="text-align:center;">{{speed}} Km/h</div>
        </ion-card-content>
      </ion-card>
    </ion-col>
    <ion-col>
      <ion-card>
        <ion-card-content (click)="openHeightPage();">
          <img src="assets/height-512.png" />
        </ion-card-content>
        <div style="text-align:center;">{{angleX}}°</div>
      </ion-card>
      <ion-card>
        <ion-card-content (click)=" OpenMaps()">
          <img src="assets/localization.png" />
          <div style="text-align:center;">longitude : {{longitude}}</div>
          <div style="text-align:center;">latitude : {{latitude}}</div>
        </ion-card-content>
      </ion-card>
    </ion-col>
  </ion-row>
</ion-content>