<ion-header>
  <ion-toolbar>
    <ion-title>
      Tab Two
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  
  <ion-grid>
    <ion-row>
      <ion-col col-6>
            <ion-card>
              <ion-card-content>
                  <img src="assets/104-512.png"  />
                  <ion-input type="text" [(ngModel)]="temp" style="left: 38%;"></ion-input>
              </ion-card-content>
            </ion-card>
      </ion-col>
      <ion-col col-6>
          <ion-card>
            <ion-card-content>
                <img src="assets/humidity-512.png"  />
                <ion-input type="text"></ion-input>
            </ion-card-content>
          </ion-card>
    </ion-col>
    </ion-row>
    <ion-row>
        <ion-col col-6>
              <ion-card>
                <ion-card-content>
                    <img src="assets/speed-512.png"  />
                    <ion-input type="text"></ion-input>
                </ion-card-content>
              </ion-card>
        </ion-col>
        <ion-col col-6>
            <ion-card>
              <ion-card-content>
                  <img src="assets/height-512.png"  />
                  <ion-input type="text"></ion-input>
              </ion-card-content>
            </ion-card>
      </ion-col>
      <ion-col col-6>
          <ion-card>
            <ion-card-content>
                <img src="assets/pressure-512.png"  />
                <ion-input type="text"></ion-input>
            </ion-card-content>
          </ion-card>
    </ion-col>
      </ion-row>
       
      
  </ion-grid>
</ion-content>