<ion-header>
  <ion-toolbar>
    <ion-title>
      <img src="assets/raspberry.png" style="height: 7%;width: 7%;display: inline;" />
      Pimp My Card
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>

    <ion-item>
      <ion-label>Mode Alerte</ion-label>
      <ion-toggle></ion-toggle>
    </ion-item>

    <ion-item>
      <ion-label>Ouverture des portes</ion-label>
      <ion-toggle></ion-toggle>
    </ion-item>

    <ion-item>
      <ion-label>Affichage en direct</ion-label>
      <ion-toggle [(ngModel)]="LiveButton" (click)="openCloseDoors()"></ion-toggle>
    </ion-item>

    <ion-item>
      <ion-label>Changer le statut de la LED</ion-label>
      <ion-toggle [(ngModel)]="LedButton" (click)="SetLedState()"></ion-toggle>
    </ion-item>

    <ion-item>
      <ion-label fixed>Date de début : </ion-label>
      <ion-datetime [(ngModel)]="DateDebut" style="width: 33%;text-align: right;background-color: silver;">
      </ion-datetime>
    </ion-item>
    <ion-item>
      <ion-label fixed>Date de fin : </ion-label>
      <ion-datetime [(ngModel)]="DateFin" style="width: 33%;background-color: silver;"></ion-datetime>
    </ion-item>
    <ion-item>
      <ion-button (click)="getDateDebutFin()" style="width: 100%;">Afficher les images stockées </ion-button>
    </ion-item>



  </ion-list>
  <div *ngFor="let item of items">
    <img  src="data:image/jpeg;base64,{{item.base64}}">
  </div>


  <img *ngIf="LiveButton" [src]="picImage">


</ion-content>