<ion-header>
  <ion-toolbar>
    <ion-title>
      <img src="assets/raspberry.png" style="height: 7%;width: 7%;display: inline;" />
      Pimp My Card
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>

    <ion-item>
      <ion-label>Mode Alerte</ion-label>
      <ion-toggle></ion-toggle>
    </ion-item>

    <ion-item>
      <ion-label>Ouverture des portes</ion-label>
      <ion-toggle></ion-toggle>
    </ion-item>

    <ion-item>
      <ion-label>Affichage en direct</ion-label>
      <ion-toggle [(ngModel)]="LiveButton" (click)="openCloseDoors()"></ion-toggle>
    </ion-item>

    <ion-item>
      <ion-label>Changer le statut de la LED</ion-label>
      <ion-toggle [(ngModel)]="LedButton" (click)="SetLedState()"></ion-toggle>
    </ion-item>

    <ion-item>
      <ion-label fixed>Date de début : </ion-label>
      <ion-datetime [(ngModel)]="HeureDebut" displayFormat="HH:mm" value="15:03"
        style="width: 33%;text-align: right;"></ion-datetime>
      <ion-datetime [(ngModel)]="DateDebut" value="2019-05-10"  style="width: 33%;text-align: right;">
      </ion-datetime>
    </ion-item>
    <ion-item>
      <ion-label fixed>Date de fin : </ion-label>
      <ion-datetime [(ngModel)]="HeureFin" displayFormat="HH:mm" value="17:03"
        style="width: 33%;text-align: right;" ></ion-datetime>
      <ion-datetime [(ngModel)]="DateFin" value="2019-05-10" style="width: 33%;text-align: right;"></ion-datetime>
    </ion-item>
    <ion-item>
      <ion-button (click)="getDateDebutFin()" style="width: 100%;">Afficher les images stockées </ion-button>
    </ion-item>
  </ion-list>
  <img *ngIf="LiveButton" [src]="picImage">


</ion-content>
<div *ngIf="showhideslides" style="height: 100%;width: 100%;">
  <ion-button (click)="hideslides()">Close</ion-button>
  <ion-grid>
    <ion-row>
      <ion-col col-6 *ngFor="let item of items">
        <ion-card>
          <ion-card-content>
            <img style="width: 300px;height: 150px;" src="data:image/jpeg;base64,{{item.base64}}">
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</div>